.twilight {
	width: 100%;
	margin: 0 auto;
	background-image: url(../../../images/bg.gif);
	background-repeat: repeat-x;
}

.twilight-wrapper {
	width: 950px;
	height: 700px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.slide-wrapper {
	position: relative;
	margin-left: 0;
}
.twilight-show {
	width: 950px;
	height: 700px;
	overflow: hidden;
	position: relative;
}
.twilight-show .twilight-box {
	position: relative;
	width: 99999px;
	opacity: 1;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.twilight-show a {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.twilight-show .twilight-box div {
	float: left;
	opacity: 1;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.twilight-show .arrow-left,
.twilight-show .arrow-right {
	position: absolute;
	z-index: 10;
	top: 320px;
	cursor: pointer;
}
.twilight-show .arrow-left {
	left: 20px;
}
.twilight-show .arrow-right {
	left: 880px;
}